RefSeq.xml

<?xml version='1.0' encoding='UTF-8'?>
<!--generated by GLUE on Thu Sep 27 16:33:58 JST 2007-->
<definitions name='RefSeq' targetNamespace='http://www.themindelectric.com/wsdl/RefSeq/' xmlns:tns='http://www.themindelectric.com/wsdl/RefSeq/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
  <message name='search0In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='search0Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchAsync1In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='searchAsync1Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <portType name='RefSeq'>
    <operation name='search' parameterOrder='accession'>
      <documentation>Search entry</documentation>
      <input name='search0In' message='tns:search0In'/>
      <output name='search0Out' message='tns:search0Out'/>
    </operation>
    <operation name='searchAsync' parameterOrder='accession'>
      <documentation>Search entry</documentation>
      <input name='searchAsync1In' message='tns:searchAsync1In'/>
      <output name='searchAsync1Out' message='tns:searchAsync1Out'/>
    </operation>
  </portType>
  <binding name='RefSeq' type='tns:RefSeq'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='search'>
      <soap:operation soapAction='search' style='rpc'/>
      <input name='search0In'>
        <soap:body use='encoded' namespace='http://tempuri.org/RefSeq' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='search0Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/RefSeq' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchAsync'>
      <soap:operation soapAction='searchAsync' style='rpc'/>
      <input name='searchAsync1In'>
        <soap:body use='encoded' namespace='http://tempuri.org/RefSeq' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchAsync1Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/RefSeq' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <service name='RefSeq'>
    <port name='RefSeq' binding='tns:RefSeq'>
      <soap:address location='http://xml.nig.ac.jp/xddbj/RefSeq'/>
    </port>
  </service>
</definitions>